*.iml
./android-side/.gradle
./android-side/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
./android-side/app/build
./android-side/captures
./android-side/.externalNativeBuild
./android-side/.cxx

# for idea
/.idea/
./android-side/.idea/
./server-side/.idea/
